<div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="{{fbauth.user.cover.source}}" alt="Profile image example"/>
        <img align="left" class="fb-image-profile thumbnail" src="{{fbauth.user.picture.data.url}}" alt="Profile image example"/>
        <div class="fb-profile-text">
            <h1>{{fbauth.user.name}}</h1>
        </div>
    </div>
</div>

<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Attending">
        <md-content class="md-padding">
          <!-- <h1 class="md-display-2">Tab One</h1> -->
          <div class="event-list">
             <div class="row">
               <div class="[ col-xs-12 col-sm-offset-1 col-sm-11 ]">
                 <ul class="event-list" ng-repeat="ev in attending">
                   <li>
                     <time datetime="{{ev.start_time.start_time}}">
                       <span class="day">{{ev.start_time.date.day}}</span>
                       <span class="month">{{ev.start_time.date.month_name}}</span>
                       <!-- <span class="year">2014</span> -->
                       <span class="time">{{ev.start_time.time.hour}}:{{ev.start_time.time.minute}}</span>
                     </time>
                     <img alt="" src="{{ev.picture.data.url}}" />
                     <div class="info">
                       <!-- <h2 class="title">{{event.name}}</h2> -->
                       <a href="#/event/{{ev.id}}"><h2 class="title">{{ev.name}}</h2></a>
                       <p class="desc">{{ev.place.name}}</p>
                       <ul>
                         <li style="width:33%;">{{ev.attending_count}} <span class="glyphicon glyphicon-ok"></span></li>
                         <li style="width:34%;">{{ev.maybe_count}} <span class="fa fa-question"></span></li>
                         <!-- <li style="width:33%;">103 <span class="fa fa-envelope"></span></li> -->
                       </ul>
                     </div>
                     <div class="social">
                       <ul>
                         <li class="facebook" style="width:33%;"><a href="https://www.facebook.com/events/{{ev.id}}"><span class="fa fa-facebook"></span></a></li>
                         <!-- <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li> -->
                         <!-- <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li> -->
                       </ul>
                     </div>
                   </li>
                   <!-- <li class="event-details">
                       <div class="info" style="height:auto">
                            <p class="desc">{{event.description}}</p>
                       </div>
                   </li> -->
                 </ul>
                <md-button class="md-primary md-raised" ng-click="showAdvanced($event)">
                  Show Events On Map
                </md-button>
               </div>
             </div>
           </div>
        </md-content>
      </md-tab>
      <md-tab label="Invited">
        <md-content class="md-padding">
          <!-- <h1 class="md-display-2">Tab Two</h1> -->
          <div class="event-list">
             <div class="row">
               <div class="[ col-xs-12 col-sm-offset-1 col-sm-11 ]">
                 <ul class="event-list" ng-repeat="ev in notReplied">
                   <li>
                     <time datetime="{{ev.start_time.start_time}}">
                       <span class="day">{{ev.start_time.date.day}}</span>
                       <span class="month">{{ev.start_time.date.month_name}}</span>
                       <!-- <span class="year">2014</span> -->
                       <span class="time">{{ev.start_time.time.hour}}:{{ev.start_time.time.minute}}</span>
                     </time>
                     <img alt="" src="{{ev.picture.data.url}}" />
                     <div class="info">
                       <!-- <h2 class="title">{{event.name}}</h2> -->
                       <a href="#/event/{{ev.id}}"><h2 class="title">{{ev.name}}</h2></a>
                       <p class="desc">{{ev.place.name}}</p>
                       <ul>
                         <li style="width:33%;">{{ev.attending_count}} <span class="glyphicon glyphicon-ok"></span></li>
                         <li style="width:34%;">{{ev.maybe_count}} <span class="fa fa-question"></span></li>
                         <!-- <li style="width:33%;">103 <span class="fa fa-envelope"></span></li> -->
                       </ul>
                     </div>
                     <div class="social">
                       <ul>
                         <li class="facebook" style="width:33%;"><a href="https://www.facebook.com/events/{{ev.id}}"><span class="fa fa-facebook"></span></a></li>
                         <!-- <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li> -->
                         <!-- <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li> -->
                       </ul>
                     </div>
                   </li>
                   <!-- <li class="event-details">
                       <div class="info" style="height:auto">
                            <p class="desc">{{event.description}}</p>
                       </div>
                   </li> -->
                 </ul>
                 <md-button class="md-primary md-raised" ng-click="showAdvanced($event)">
                  Show Events On Map
                </md-button>
               </div>
             </div>
           </div>

        </md-content>
      </md-tab>
      <md-tab label="Declined">
        <md-content class="md-padding">
          <!-- <h1 class="md-display-2">Tab Three</h1> -->
          <div class="event-list">
             <div class="row">
               <div class="[ col-xs-12 col-sm-offset-1 col-sm-11 ]">
                 <ul class="event-list" ng-repeat="ev in declined">
                   <li>
                     <time datetime="{{ev.start_time.start_time}}">
                       <span class="day">{{ev.start_time.date.day}}</span>
                       <span class="month">{{ev.start_time.date.month_name}}</span>
                       <!-- <span class="year">2014</span> -->
                       <span class="time">{{ev.start_time.time.hour}}:{{ev.start_time.time.minute}}</span>
                     </time>
                     <img alt="" src="{{ev.picture.data.url}}" />
                     <div class="info">
                       <!-- <h2 class="title">{{event.name}}</h2> -->
                       <a href="#/event/{{ev.id}}"><h2 class="title">{{ev.name}}</h2></a>
                       <p class="desc">{{ev.place.name}}</p>
                       <ul>
                         <li style="width:33%;">{{ev.attending_count}} <span class="glyphicon glyphicon-ok"></span></li>
                         <li style="width:34%;">{{ev.maybe_count}} <span class="fa fa-question"></span></li>
                         <!-- <li style="width:33%;">103 <span class="fa fa-envelope"></span></li> -->
                       </ul>
                     </div>
                     <div class="social">
                       <ul>
                         <li class="facebook" style="width:33%;"><a href="https://www.facebook.com/events/{{ev.id}}"><span class="fa fa-facebook"></span></a></li>
                         <!-- <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li> -->
                         <!-- <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li> -->
                       </ul>
                     </div>
                   </li>
                   <!-- <li class="event-details">
                       <div class="info" style="height:auto">
                            <p class="desc">{{event.description}}</p>
                       </div>
                   </li> -->
                 </ul>
                 <md-button class="md-primary md-raised" ng-click="showAdvanced($event)">
                   Show Events On Map
                 </md-button>
               </div>
             </div>
           </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
