<div id="LogInCtrl" class="container" ng-controller="LogInCtrl">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="{{profileImage}}">
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <button class="btn btn-lg btn-primary btn-block btn-signin" ng-click="facebookLogin();">Login with Facebook</button>
        </form>
    </div>
</div>
