.map-container-single > .ng-isolate-scope.angular-google-map > .angular-google-map > .angular-google-map-container {
  height: 200px;
}

.map-container-multiple > .ng-isolate-scope.angular-google-map > .angular-google-map > .angular-google-map-container {
  height: 400px;
  width: 600px;
}

/*.angular-google-map-container {
  height: 500px;
  width: 500px;
}*/
