<!-- <link rel="stylesheet" href="styles/list.css"> -->
<!-- <link rel="stylesheet" href="styles/reviews.css"> -->

<script>
  $(document).ready(function() {
      $('.event-details').css('display','none');
      $('.event-details').css('height','auto');
      $('.event-details').css('margin-top','-17px');
      $('.event-details > .info').css('height','auto');
      $('.disabled').prev().css('cursor','default');

      $('.event-list > li').click(function() {
          if (!$(this).nextAll('.event-details').first().hasClass('disabled')) {
              //$(this).nextAll('.event-details').first().height('auto');
              $(this).nextAll('.event-details').first().nextAll('.info').first().height('auto');
              $(this).nextAll('.event-details').first().slideToggle();
          }
      });
  })
</script>


<!-- <div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="{{fbauth.user.cover.source}}" alt="Profile image example"/>
        <img align="left" class="fb-image-profile thumbnail" src="{{fbauth.user.picture.data.url}}" alt="Profile image example"/>
        <div class="fb-profile-text">
            <h1>{{fbauth.user.name}}</h1>
        </div>
    </div>
</div> -->

<div class="event-list">
   <div class="row">
     <div class="[ col-xs-12 col-sm-offset-1 col-sm-11 ]">
       <ul class="event-list" ng-repeat="event in notReplied">
         <li>
           <time datetime="{{event.start_time.start_time}}">
             <span class="day">{{event.start_time.date.day}}</span>
             <span class="month">{{event.start_time.date.month_name}}</span>
             <!-- <span class="year">2014</span> -->
             <span class="time">{{event.start_time.time.hour}}:{{event.start_time.time.minute}}</span>
           </time>
           <img alt="{{event.name}}" src="{{event.picture.data.url}}" />
           <div class="info">
             <h2 class="title">{{event.name}}</h2>
             <p class="desc">{{event.place.name}}</p>
             <ul>
               <li style="width:33%;">{{event.attending_count}} <span class="glyphicon glyphicon-ok"></span></li>
               <li style="width:34%;">{{event.maybe_count}} <span class="fa fa-question"></span></li>
               <!-- <li style="width:33%;">103 <span class="fa fa-envelope"></span></li> -->
             </ul>
           </div>
           <div class="social">
             <ul>
               <li class="facebook" style="width:33%;"><a href="https://www.facebook.com/events/{{event.id}}"><span class="fa fa-facebook"></span></a></li>
               <!-- <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li> -->
               <!-- <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li> -->
             </ul>
           </div>
         </li>
         <li class="event-details">
             <div class="info" style="height:auto">
                  <p class="desc">{{event.description}}</p>
             </div>
         </li>
       </ul>
     </div>
   </div>
 </div>
